In [1]:
# Creating sets
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

In [2]:
set_union = set_a | set_b

In [3]:
print(f"Union: {set_union}")

Union: {1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
set_inters = set_a & set_b

In [5]:
print(f"Intersection: {set_inters}")

Intersection: {4, 5}

In [6]:
diff_set = set_a - set_b
print(f"Difference: {diff_set}")

Difference: {1, 2, 3}

In [7]:
sym_diff = set_a ^ set_b
print(f"Symmetric Difference: {sym_diff}")

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [8]:
is_subset = set_a <= set_b
print(f"Is A subset of B: {is_subset}")

Is A subset of B: False

In [9]:
is_superset = set_a >= set_b
print(f"Is A superset of B: {is_superset}")

Is A superset of B: False

In [10]:
my_frozen = frozenset(set_a)

In [11]:
try:
    my_frozen.add(6)
    Exception("Frozen set is immutable")

_IncompleteInputError: incomplete input (2900838459.py, line 3)

In [12]:
my_list = [1, 2, 3, 4, 5]

In [13]:
my_frozen_1 = frozenset(my_list)

In [14]:
try:
    my_frozen_1.add(6)
    Exception("Frozen set is immutable")

_IncompleteInputError: incomplete input (285638751.py, line 3)

In [15]:
dict_a = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}

In [16]:
dict_a

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [17]:
squared_numbers = {x: x*x for x in range(1, 6)}

In [18]:
squared_numbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [19]:
squared_numbers = {x: x*2 for x in range(1, 6)}

In [20]:
squared_numbers

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [21]:
dict_b = {
    'job': 'Engineer',
    'company': 'TechCorp'
}

In [22]:
import defaultdict from collections

SyntaxError: Did you mean to use 'from ... import ...' instead? (1120760361.py, line 1)

In [23]:
from collections import defaultdict

In [24]:
default_dict = defaultdict(int)

In [25]:
default_dict

defaultdict(int, {})

In [26]:
default_dict['a'] += 1
default_dict['b'] += 2

In [27]:
default_dict

defaultdict(int, {'a': 1, 'b': 2})

In [28]:
str_defaultdict = defaultdict(str)
str_defaultdict['greeting'] = 'Hello'
print(str_defaultdict)

defaultdict(<class 'str'>, {'greeting': 'Hello'})

In [31]:
from collections import Counter

In [32]:
counter = Counter(['apple', 'banana', 'apple', 'orange', 'banana', 'apple'])
print(f"Counter: {counter}")

Counter: Counter({'apple': 3, 'banana': 2, 'orange': 1})

In [33]:
from collections import OrderedDict

In [34]:
ordered_dict = OrderedDict()
ordered_dict['one'] = 1
ordered_dict['two'] = 2
ordered_dict['three'] = 3
print(f"Ordered Dictionary: {ordered_dict}")

Ordered Dictionary: OrderedDict({'one': 1, 'two': 2, 'three': 3})

In [35]:
ordered_dict.move_to_end('one')

In [36]:
print(f"Ordered Dictionary: {ordered_dict}")

Ordered Dictionary: OrderedDict({'two': 2, 'three': 3, 'one': 1})

In [37]:
from collections import namedtuple

In [38]:
Point = namedtuple('Point', ['x', 'y'])

In [39]:
Point

__main__.Point

In [40]:
# Create an instance of Point
p = Point(11, y=22)

In [41]:
print(p.x, p.y)

11 22

In [42]:
Person = namedtuple('Person', 'name age city')
person = Person(name='Bob', age=25, city='Los Angeles')
print(f"Named Tuple: {person}")
print(f"Name: {person.name}, Age: {person.age}, City: {person.city}")

Named Tuple: Person(name='Bob', age=25, city='Los Angeles')
Name: Bob, Age: 25, City: Los Angeles

In [43]:
items = [
    {"name": "apple", "category": "fruit"},
    {"name": "banana", "category": "fruit"},
    {"name": "carrot", "category": "vegetable"},
    {"name": "spinach", "category": "vegetable"}
]

In [44]:
grouped_items = {}

In [ ]:
for item in items:
    category = item["category"]
    if category not in grouped_items:
        grouped_items[category] = []
    grouped_items[category].append(item["name"])

In [ ]:
category

'vegetable'

In [47]:
grouped_items

{'fruit': ['apple', 'banana'], 'vegetable': ['carrot', 'spinach']}